[globals]
db_host=localhost
db_name=
db_user=
db_pass=
production=true
upload_folder=/var/www/shared-root
file_url_base=https://example.com/files
assets_webroot=https://example.com/assets
private_key=
