[globals]
db_host=localhost
db_name=
db_user=
db_pass=
production=true
upload_folder=/var/www/public
file_url_base=https://example.com/public
assets_webroot=https://example.com/public/assets
uid=
private_key=
